h1
{

  padding-top:60;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:40;
}
h2
{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:40;
  text-align: center;
}
input
{
  align: left;
}
