.form{
  margin-left: 25%;
background-color: #FFCE00;
}
input[type=checkbox]{
  transform: scale(2);
}
label{
  padding: 30px;
}
.images{
  padding-top: 80px;
}
h2
{
  margin-left: 30%;
  color: purple;

}
body{
  background-repeat: no-repeat;

}
