h1
{
  text-align: right;
  padding-top:30;
  font-family: 'Source Sans Pro', sans-serif;

}
h2
{
  font-family: 'Source Sans Pro', sans-serif;
}
h4
{
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
}
.col-md-12
{
  padding-top:10;
  border-radius:30;
}
p
{
  text-align: justify;
  padding: 10;
  font-family: cursive;
}
